.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), monospace;
  font-variation-settings: "wght" var(--text-font-weight);
  background-image: var(--background-image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.inline-size {
  inline-size: var(--inline-size);
}

.header {
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px 1px 19px 1px;
  margin-block-start: 100px;
}

.header-logo {
  grid-row: 2;
  justify-self: center;
}

.logo {
  grid-row: 2;
  font-family: var(--accent-font-family), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  grid-row: 3;
  font-family: var(--accent-font-family), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  justify-self: center;
  padding-top: 18px;
}

.content {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: white;
  position: relative;
  margin-bottom: 54px;
  width: 100%;
  border: 2px solid var(--text-color);
}

.card-title {
  grid-row: 1;
  font-family: var(--main-font-family), monospace;
  font-size: var(--font-size-card);
  font-variation-settings: "wght" var(--font-weight);
  padding: 3px 10px;
}

.image-container {
  grid-row: 2;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
}

.card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: right;
}

.card-filter-sepia {
  filter: sepia(90%);
}

.card-filter-contrast {
  filter: contrast(5);
}

.card-filter-brightness {
  filter: brightness(3);
}

.card-filter-blur {
  filter: blur(8px);
}

.card-filter-grayscale {
  filter: grayscale(2);
}

.card-filter-hue-rotate {
  filter: brightness(1) hue-rotate(30deg);
}

.card-filter-plural {
  filter: sepia(30%) hue-rotate(30deg) contrast(100%) brightness(1);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family), fantasy;
  font-size: var(--font-size-text);
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--main-font-family), monospace;
  font-size: var(--font-size-card);
  font-weight: var(--text-font-weight);
  line-height: 21px;
  padding: 23px 25px 25px 25px;
}

.like-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-self: end;
  padding-right: 27px;
  padding-bottom: 22px;
}

.button {
  position: relative;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.card__like-button {
  padding: 8px 33px 5px 34px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card__icon-button:focus {
  border: 2px solid var(--text-color);
  border-radius: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  border-radius: 0;
  outline: none;
}

.card__icon-button:hover {
  cursor: pointer;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-self: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 100px;
  background-color: var(--stroke-color);
}

.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: var(--font-size-text);
  position: relative;
  z-index: 2;
  color: var(--button-text-color, white);
  mix-blend-mode: difference;
}

.modal {
  position: fixed;
  font-family: var(--accent-font-family), fantasy;
  font-size: var(--font-size-text);
  line-height: 150%;
  text-transform: uppercase;
}

.modal::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.modal-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: min(90vw, 353px);
  padding-bottom: 28px;
  padding-top: 28px;
}

.floppy-icon-small {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  z-index: 2;
  color: var(--stroke-color);
  mix-blend-mode: difference;
}

.floppy-icon-large {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.modal_button {
  padding: 10px 130px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color, black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

@media (width <= 376px) {
  .header {
    padding: 35px 1px 37px 1px;
  }

  .content {
    margin-bottom: 48px;
  }

  .card-text {
    padding: 23px 30px 25px 25px;
  }

  .like-buttons {
    padding-right: 26px;
    padding-bottom: 25px;
  }

  .card__like-button {
    padding: 8px 32px 8px 36px;
  }

  .save-button {
    flex-direction: column;
    padding: 16px;
  }

  .floppy-icon-small {
    width: 28px;
    height: 28px;
  }
}
