/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';
    --font-weight: 715;
    --text-font-weight: 410;
    --inline-size: clamp(375px, 100vw, 700px);
    --font-size-card: 18px;
    --text-color: #000000;
    --stroke-color: #ffffff;
    --contour-color: #000000;
    --animation-fill-color: #fc0202;
    --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
}